* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #F5E6CA, #5D4037);
}
#createAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #99653e;
    border-radius: 15px;
    padding: 5px 0 5px 5px;
    min-width: 300px;
    box-shadow: 0px 0px 20px black;
}
#formToCreate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #F5E6CA;
    width: 80%;
}
#formToCreate button {
    display: block;
    width: 100%;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, rgb(214, 177, 109), rgb(180, 127, 58) );
    transition: transform 0.3s ease;
}
#formToCreate button:hover {
    transform: scale(1.1);
}
#title {
    margin: 5px 0 5px 10px;
}
label {
    align-self: first baseline;
}
input {
    border: none;
    outline: none;
}

.organizesInput {
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 5px;
}
.organizesInput img {
    background-color: darkgrey;
    padding: 3px;
    margin-right: 5px;
    width: 20px
}